.todo-list{
    width: 100%;
    max-width: 540px;
    min-height: 500px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    margin: 50px auto 20px;
    gap: 20px;
    line-height: 1px;
}

.todo-list__title{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.todo-list__task-list {
    margin-bottom: auto;
}

.todo-list__footer{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    /* margin: auto; */
}
.todo-list__footer-task-count{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
}
.todo-list__footer-button-clear{
    border-radius: 10px;
    background-color: purple;
    color: #fff;
    height: 30px;
    width: 85px;
    border: solid;
}

.todo-list__text-content_done {
    text-decoration: line-through;
}

.todo-list__task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color:lightpink;
    border-radius: 5px;
    margin-bottom: 8px;
}

.todo-list__task-item:last-of-type {
    margin-bottom: 0;
}

.todo-list__text-content {
    margin-right: 180px;
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    font-family:Georgia, 'Times New Roman', Times, serif;
    
}

.todo-list__button-done {
    border-radius: 10px;
    background-color: lightgray;
}

  
.todo-list__button-remove {
    margin-right: 10px;
    border-radius: 10px;
    background-color: lightgray;
    
}